@page "/"
@using BlazorDeploy.Pages.HomeComponents
@using Microsoft.Extensions.Localization
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<BlazorDeploy.Resources.App> Loc

<PageTitle>@Loc["Lbl_About"] Matheus Delmondes</PageTitle>

<!-- Navegação -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">@Loc["Lbl_Portfolio"]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">@Loc["Lbl_About"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tecnologias">@Loc["Lbl_Technologies"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experiencias">@Loc["Lbl_Experiences"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projetos">@Loc["Lbl_Projects"]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Seção Sobre -->
<About />
<hr />

<!-- Seção Tecnologias -->
<Technologies />
<hr />

<!-- Seção Experiências -->
<Experiences />
<hr />

<!-- Seção Projetos -->
<Projects />

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeScrollAnimation");
        }
    }
}

<script>
    window.initializeScrollAnimation = () => {
        const observerOptions = {
            threshold: 0.1
        };

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('scroll-triggered');
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        document.querySelectorAll('.section').forEach(section => {
            observer.observe(section);
        });
    };
</script>